.product {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  &__name {
    font-size: 16px;
    padding: 5px 0 0 5px;
  }

  &__category {
    font-size: 14px;
    font-weight: normal;
    color: $blue-color;
    padding-left: 5px;
  }
}
