.card {
  background-color: #fff;
  padding: 1rem;
  // margin-top: 1rem;
}

.active {
  background-image: url("/images/selected.png");
  background-size: cover;
  transform: scale(105%);
  z-index: 500;
}

.header {
  color: #222 !important;
  font-size: 22px;
}
