@import "../../../base";

.sizes {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
    select,
    input {
      border: none;
      outline: none;
      border: 1px solid #ccc;
      padding-left: 1rem;
      width: 150px;
      height: 40px;
      border-radius: 5px;
    }
    svg {
      width: 30px;
      height: 30px;
      fill: $blue-color;
      cursor: pointer;
      margin-top: 5px;
      &:hover {
        fill: $light-blue-color;
      }
    }
  }
  .click_btn {
    background-color: $blue-color;
    width: 250px;
    height: 50px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px 0;
  }
}
