.main {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "menu header header"
    "menu swiper user"
    "menu offers user";

  .menu {
    grid-area: menu;
    height: 580px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
  }

  .header {
    grid-area: header;
    height: 40px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
  }

  .swiper {
    grid-area: swiper;
    height: 300px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
  }

  .offers {
    grid-area: offers;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
    height: 220px;
    overflow: hidden;
    background-image: url("/images/flash.webp");
    background-size: cover;
    background-position: -250px -100px;
  }

  .user {
    grid-area: user;
    height: 530px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
  }
}
