.main {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "menu header header"
    "menu swiper user"
    "menu offers user";

  @media (max-width: 1232px) {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "menu header header"
      "menu swiper "
      "menu offers ";
  }

  @media (max-width: 990px) {
    grid-template-columns: auto 1fr;
  }

  @media (max-width: 730px) {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "menu"
      "swiper"
      "offers";
    overflow: hidden;
  }

  .menu {
    grid-area: menu;
    height: 580px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;

    @media (max-width: 990px) {
      width: 80px;
      svg {
        transform: scale(1.5);
      }
    }

    @media (max-width: 730px) {
      height: 80px;
      width: 100%;
    }

    &__header {
      width: 100%;
      height: 35px;
      background-color: $grey-color;
      border-bottom: 1px solid $grey-color;
      box-shadow: $shadow-2;
      display: flex;
      align-items: center;
      border-radius: 10px 10px 0 0;
      padding-left: 1rem;
      gap: 5px;

      svg {
        height: 23px;
        width: 23px;
      }
    }

    &__list {
      margin-top: 3px;
      height: 100%;
      display: flex;
      flex-direction: column;

      @media (max-width: 990px) {
        align-items: center;
      }

      @media (max-width: 730px) {
        margin: 0;
        // width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      li {
        display: flex;
        align-items: center;
        flex-grow: 1;

        cursor: pointer;
        color: #424141;
        font-size: 14px;

        &:hover {
          background-color: $grey-color;
          &:last-child {
            border-radius: 0 0 10px 10px;
          }
        }

        @media (max-width: 730px) {
          padding: 0;
          justify-content: center;
          flex: 0 0 12%;
          height: 50%;
        }

        a {
          padding: 0 20px;
          display: flex;
          align-items: center;
          gap: 10px;

          @media (max-width: 730px) {
            padding: 0;
            // margin: 0 16px;
            min-width: calc(50% - 20px);
            margin: 0 10px;
          }

          span {
            @media (max-width: 990px) {
              &:first-of-type {
                display: none;
              }
            }
          }

          svg {
            fill: #8c8484;
            stroke: #8c8484;
            min-width: 16px;
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      height: 100%;

      @media (max-width: 990px) {
        li {
          &:first-of-type {
            display: none;
          }
        }
      }

      @media (max-width: 730px) {
        // width: 100%;
      }
    }
  }

  .header {
    grid-area: header;
    height: 40px;
    display: flex;
    align-items: center;

    @media (max-width: 730px) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1rem;

      li {
        font-size: 19px;
        color: $blue-color;
      }
    }
  }

  .swiper {
    grid-area: swiper;
    height: 300px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
  }

  .offers {
    grid-area: offers;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
    height: 220px;
    overflow: hidden;
    background-image: url("/images/flash.webp");
    background-size: cover;
    background-position: -250px -100px;
  }

  .user {
    position: relative;
    grid-area: user;
    height: 530px;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: 1232px) {
      display: none;
    }

    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    &__swiper {
      position: absolute;
      bottom: 5rem;

      width: 100%;
      padding: 2rem;
      min-width: 200px;
    }

    &__infos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -4rem;

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: $shadow-1;
      }

      h4 {
        margin-top: 10px;
        text-transform: capitalize;
      }

      &_btns {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 10px;

        button {
          width: 90px;
          height: 35px;
          border-radius: 10px;
          cursor: pointer;

          &:first-of-type {
            background: $blue-color;
            color: #fff;
          }

          &:last-of-type {
            color: #555;
          }
        }
      }
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      margin-top: 1rem;

      li {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $grey-color;
        display: grid;
        place-items: center;
        transition: all 0.2s ease-in-out;

        a {
          width: 20px;
          height: 20px;
        }

        &:nth-of-type(1),
        &:nth-of-type(2) {
          svg {
            width: 100%;
            height: 100%;
            stroke: $blue-color;
          }
          &:hover {
            background: $light-blue-color;
            svg {
              stroke: #fff;
            }
          }
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          svg {
            width: 100%;
            height: 100%;
            fill: $blue-color;
          }

          &:hover {
            background-color: $light-blue-color;
            svg {
              fill: #fff;
            }
          }
        }

        &:nth-of-type(4) {
          padding-top: 5px;
        }
      }
    }

    &__footer {
      position: absolute;
      bottom: 0;
      transform: rotate(180deg);
    }
  }
}
