.btn_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit_btn,
.btn {
  min-width: 120px;
  padding: 10px 15px;
  font-weight: 600;
  cursor: pointer;
  color: #222;
  transition: all 0.2s;
  &:hover {
    color: #fff;
    background-color: $blue-color;
  }

  &__primary {
    background-color: $blue-color;
    color: #fff;
  }
}

.header {
  font-weight: 700;
  font-size: 20;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  .flex {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  span {
    display: block;
    font-size: 14px;
    font-weight: normal;
  }
  img {
    width: 30px;
  }
}

.header__error {
  color: $error-color;
  border-color: $error-color;
}

.error__bg {
  background-color: $error-color !important;
}
