.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fafafa;
  height: 100%;
  width: 80px;
  transition: all 0.2s ease-in-out;

  &__toggle {
    position: absolute;
    right: -19px;
    top: 50px;
    height: 50px;
    width: 20px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
  }

  &__container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 7px;
    span {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      &:nth-child(1) {
        background-color: #fe4a3f;
      }
      &:nth-child(2) {
        background-color: #ffb51f;
      }
      &:nth-child(3) {
        background-color: #4fea32;
      }
    }
  }

  &__user {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #ccc;
    padding-bottom: 1rem;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      border: 5px solid #fff;
    }
  }
}

.show {
  font-size: 14px;
  color: #111111d2;
  display: none;
  span {
    &:first-of-type {
      font-weight: 600;
    }
  }
}

.opened {
  width: 280px;
  li {
    width: 250px !important;
  }

  .show {
    display: flex;
    flex-direction: column;
  }
}
