.reviews {
  margin-top: 1rem;

  @media (max-width: 768px) {
    h3 {
      font-size: 24px;
    }
  }

  &__stats {
    margin-top: 1rem;
    width: 100%;
    height: 250px;
    background-color: #f8f8f8;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;

    @media (max-width: 930px) {
      gap: 3rem;
      padding: 1rem;
    }

    @media (max-width: 755px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      height: 100%;
    }

    @media (max-width: 500) {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &_overview {
      &_rating {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        font-size: 20px;

        svg {
          width: 35px;
          height: 35px;
        }
      }
    }

    &_reviews {
      display: grid;
      gap: 1rem;
      // margin-left: 5rem;

      &_review {
        display: grid;
        grid-template-columns: 1fr 120px 1fr;
        place-items: center;
        gap: 10px;

        svg {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          @media (max-width: 500px) {
            width: 25px;
            height: 25px;
            margin-right: 2px;
          }
        }

        .bar {
          position: relative;
          width: 120px;
          display: grid;
          height: 5px;
          background-color: #ccc;
          border-radius: 10px;
          overflow: hidden;

          &__inner {
            position: absolute;
            left: 0;
            height: 100%;
            // width: 50%;
            background-color: $blue-color;
          }

          @media (max-width: 500) {
            width: 20px !important;
          }
        }

        span {
          font-weight: 700;
          font-size: 20px;
          //   color: #333;
        }
      }

      @media (max-width: 755px) {
        display: grid;
        gap: 1rem;
        place-items: center;
        height: 100%;
        margin-left: 0;
      }
    }
  }

  .login_btn {
    margin-top: 1rem;
    width: 100%;
    height: 40px;
    background-color: $yellow-color;
    font-size: 18px;
    font-weight: 900;
    color: #333;
    cursor: pointer;
  }

  &__add {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;

    textarea {
      margin-top: 1rem;
      border: none;
      outline: none;
      resize: none;
      min-height: 150px;
      padding: 1rem;
      width: 100%;
    }

    .add_img {
      //   height: 40px;
      //   button {
      //     height: 100%;
      //     margin-top: 0;
      //   }

      .imgs_wrap {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        span {
          position: relative;
          img {
            width: 100px;
            height: 150px;
            object-fit: cover;
          }

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 30px;
            width: 30px;
            fill: #222;
            cursor: pointer;
            box-shadow: $shadow-2;
            display: none;
          }

          &:hover {
            svg {
              display: block;
            }
          }
        }
      }
    }
  }
}

.review {
  position: relative;
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  .flex {
    width: 100%;

    &:last-of-type {
      justify-content: space-between;
    }
  }

  @media (max-width: 880px) {
    flex-direction: column;

    .flex {
      &:first-of-type {
        justify-content: flex-start;
      }
    }
  }

  &__user {
    img {
      filter: blur(1px);
    }
  }

  &__info {
    color: #666;
    padding-right: 1rem;
    svg {
      width: 20px;
    }
    p {
      font-size: 14px;
      span {
        font-weight: 600;
      }
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 0;
      cursor: pointer;
      @media (max-width: 450px) {
        width: 70px;
        height: 100px;
      }
    }
  }

  &__extra {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 14px;
    height: 100%;
    &_like {
      display: flex;
      align-items: flex-end;
    }
    svg {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
    &_date {
      color: #666;
    }
  }
}

.select {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  // width: 100%;

  &__header {
    position: relative;
    width: 100%;
    min-width: 70px;
    // max-width: 170px;
    min-height: 40px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 10px;
    // font-weight: 700;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &_menu {
      padding: 0;
      background-color: #fff;
      width: 100%;
      position: absolute;
      top: 101%;
      right: 0;
      z-index: 1;
      box-shadow: $shadow-1;

      li {
        width: 100%;
        display: grid;
        place-items: center;
        height: 50px;
        cursor: pointer;

        &:hover {
          background-color: #f8f8f8;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .login_btn {
    margin-left: 1rem;
  }
}

.table {
  &__pagination {
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
    gap: 1rem;
  }
}
